* {
  box-sizing: border-box;
}
#y,#c{
writing-mode:vertical-rl;
  background: -webkit-linear-gradient(pink,purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
#a{
margin:0 0 0 5px;
background: -webkit-linear-gradient(pink,purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
.p{
float:left;
border:1px solid blue;
width:10%;
background-color:rgba(255,60,260,0.1);
margin-right:15px;
}
#u{
float:right;
width:55%;
height:70px;

}
#ac{
margin:2px 0 30px 0;
}
#aa{
font-family: "Times New Roman", Times, serif;
font-size:90px;
display:inline;
background: -webkit-linear-gradient(pink,purple);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}
body{
background-image:url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg");
background-repeat:no-repeat;
background-size:cover;

}


.navbar {
  overflow: hidden;
  background-color: #333;
display:block;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: purple;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 right: 0;
 
}

.dropdown-content button {
  float: none;
  color: black;
  padding: 12px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
min-width:110px;

}

.dropdown-content button:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#products div  {
float:left;
  margin:20px;
border: 1px solid black;
width: 250px;
background-color:white;
}
#products div:hover{
transform:scale(1.1);
transition-duration:0.5s;
}

#products img {
  width: 100%;
  height: 250px;;
}

#products p {
font-weight:1000;
  text-align: center;
font-size:20px;
}
@media screen and (max-width: 1200px) {
  div.p {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  #products div{
    width:27%;
  }
#aa{
font-size:70px;
}
}
@media screen and (max-width: 1090px) {
  #products div{
    width:27%;
  }
#aa{
font-size:55px;
}
}

@media screen and (max-width: 1255px){ 
#aa{
font-size:65px;
}
}
@media screen and (max-width: 632px) {
#products div{
    width:40%;
 }
}
@media screen and (max-width:420px)
{
#products div{
width:85%;
}
}
@media screen and (max-width: 963px){ 
#aa{
font-size:50px;
}
}
@media screen and (max-width: 753px){ 
#aa{
font-size:40px;
}
}
@media screen and (max-width: 609px){ 
#aa{
font-size:30px;
}
}
@media screen and (max-width: 461px){ 
#aa{
width:auto;
}
}
#ac::after {
  content: "";
  clear: both;
  display: table;
}


