.shoppingCart {
  width: 100%;
  height: 100%;
}

.Products {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  color: white;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
}
.subtotal {
  text-align: center;
  color: white;
  border: 2px solid white;
}
